* {
  box-sizing: border-box;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav-links;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
}

main {
  display: grid;
  grid-area: articles;
  grid-template-columns: 31% 38% 31%;
  border: 1px solid black;
}

img {
  width: 90%;
}

.newspaper-title {
  text-align: center;
  font-size: 48px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.nav-link {
  color: #363636;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.article-post {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.article-post:last-child {
  width: 181.6%;
}

.article-title {
  font-style: italic;
}

.article-body-text {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav-links nav-links nav-links"
  "articles articles articles";
}
